* {
				padding: 0;
				margin: 0;
				box-sizing: border-box;
				overflow-x: hidden;
				scrollbar-width: none;
				scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
background: transparent;
color: transparent;
}

nav {
				background-color: white;
				width: 100%;
				padding-top: 2px;
				padding-bottom: 0px;
				position: fixed;
				top: 0;
				z-index: 9999;
				border-bottom: 1px solid red;
				overflow: hidden;
}
 
nav ul li {
				font-size: 23px;
				border-bottom: solid 1px red;
				padding: 8px;
				transition: 800ms;
} 
nav ul li:hover {
				padding-left: 25px;
				width: 98%;
}
nav ul li a{
				text-decoration: none;
				color: red;
}
nav ul li button {
				background: white;
				color: red;
				border: none;
}
.ulll{
				background: red;
				padding-bottom: 0px;
				transition: 700ms;
				height: 0;
}
.ulll li {
				border-bottom: 1px white solid;
}
.ulll li a {
				color: white;
				font-size: 19px;
}


.logo {
				width: 160px;
				
}
i {
				overflow: visible;
}
div {
				overflow: visible;
}

#bar {
				float: right;
				margin-right: 20px;
				margin-bottom: 15px;
			 margin-top: 15px;
			 font-size: 30px;
			 height: 70px;
			 width: 70px;
			 text-align: center;
			 padding-bottom: 18px;		
			 padding-top: 18px; background:linear-gradient(45deg,#ff0049,#ff7300);
			 border-radius: 50%;
			 overflow: visible;
}


.home {
				height: 100vh;
				width: 100%;
				background: url('img/homebg.jpg');
				background-size: cover;
				color: white;
						
}
.home h1 {
				margin-top: 15%;
				margin-left: 10%;
				margin-right: 8%;
				font-size: 60px;
}
.home p {
				margin-top: 0%;
				margin-left: 10%;
				margin-right: 8%;
				font-size: 28px;
				line-height: 45px;
}
.home .rm {
				margin-left: 10%;
				font-size: 35px;
				font-weight: bolder;
				padding:10px 25px 10px 25px;
				
				background: white;
				color: red;
				transition: 500ms;
				text-decoration: none;
				margin-top: 20px;
				border-radius: 50px;
}
.home .rm:hover {
				background: transparent;
				color: white;
				
}

.heading {
				margin: auto;
				width: auto;
				text-align: center;
		margin-top: 20px;
}
.heading h1 {
				font-size: 40px;
				color: white;
				background: linear-gradient(45deg,#ff0049,#ff7300);
				width: 320px;
				margin: auto;
				transition: 500ms;
				padding: 10px;
				border-radius: 50px;
}
.heading h1 span {
				color: red;
				transition: 500ms;
				background: white;
				padding: 10px;
				border-radius: 50px;
}

.services {
				width: 100%;
				background: linear-gradient(45deg,rgba(255,0,0,0.1),rgba(229,43,80,0.2));
		text-align: center;
		padding-bottom: 65px;
			
				
}

.sbox {
				height: 270px;
				width: 270px;
				background: linear-gradient(45deg,#ff0049,#ff7300);
				margin: auto;
				border-radius: 20px;
				color: white;
				display: inline-block;
				margin-bottom: 20px;
				padding-top: 70px;
				padding-left: 30px;
				padding-right: 30px;
				padding-bottom: 30px;
}
.sbox i {
				font-size: 50px;
				margin-bottom: 15px;
}
.sbox2 i {
				font-size: 50px;
				margin-bottom: 15px;
}
.sbox2 {
				height: 270px;
				width: 270px;
				background: linear-gradient(45deg,#ff009d,#ff0a00);
				margin: auto;
				border-radius: 20px;
				color: white;				
				display: inline-block;
				margin-bottom: 20px;
				padding-top: 70px;
				padding-left: 30px;
				padding-right: 30px;
				padding-bottom: 30px;
}

.article {
width: 100%;
			 padding-left: 15%;
			 padding-right: 30%;	 
			 padding-top: 35px;
			 padding-bottom: 35px;
			 color: white;
			 background: url("img/article.jpg");
			 background-size: cover;
}

.article h1 {
				letter-spacing: 2px;
				margin-bottom: 20px;
				line-height: 50px;
			
}
.article p {
				line-height: 34px;
				font-size: 20px;
}
.article a {
				font-size: 25px;
				text-decoration: none;
				color: white;
}

.article a i {
				font-size: 20px;
				color: red;
				background: white;
				height: 35px;
				width: 35px;
				padding: 8px;
				border-radius: 50%;
}
.ill {
				margin: auto;
				width: 50%;
}
.abbox {
      margin: auto;
				width: 250px;
				border-top: solid 7px red;
				background-color: whitesmoke;
				border-radius: 15px;
				color: #222433;
				margin-top: 25px;
				padding-left: 12px;
				padding-bottom: 25px;
				padding-top: 25px;
				padding-right: 12px;
				transition: 700ms;
}
.abbox:hover {
				box-shadow: 0 0 15px 1px #ff808a;
}
.abbox h1 span{
				border-bottom: 3px solid red;
}
.abbox h1 {
				font-size: 22px;
				height: 55px;
}

.abbox i {
				color:red;
				font-size: 35px;
				padding-left: 18px;
				padding-bottom: 10px;
}

.skill { width: 90%; background-color: #fff; margin-left: 5%; margin-top: 20px; padding-bottom: 30px; } 
.jenengskill { font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin: 0 auto; padding-top: 20px; padding-bottom: 10px; margin-left: 10px;  
font-size: 25px;
color: red;
} 
.skill-bar{ width: 90%; margin-left: 10px; background-color: #ebebeb; height: 40px;
 position: relative;
 border: solid 5px red;
 border-radius: 50px;
 color: white; } 
.htmlcss{ width: 94%; height: 40px; background: linear-gradient(45deg,#ff0049,#ff7300); position: relative; z-index: 10;overflow: visible; 

} 
.gorang{ width: 90%; height: 40px; background: linear-gradient(45deg,#ff0049,#ff7300); position: relative; z-index: 10; } 
.ngupil{ width: 89%; height: 40px; background: linear-gradient(45deg,#ff0049,#ff7300); position: relative; z-index: 10; } 
.bunder{ background-color: orangered; width:30px; height:30px; border-radius:50%; position:absolute; margin-top:0px; margin-left:90%; } 
.bunder span{ font-size:13px; position:absolute; margin-top:6px; margin-left:2px; } 
.bunder1{ background-color:orangered; width:30px; height:30px; border-radius:50%; position:absolute; margin-top:0px; margin-left:84%; } 
.bunder1 span{ font-size:13px; position:absolute; margin-top:6px; margin-left:2px; } 
.bunder2{ background-color: orangered; width:30px; height:30px; border-radius:50%; position:absolute; margin-top:0px; margin-left:86%; } 
.bunder2 span{ font-size:13px; position:absolute; margin-top:6px; margin-left:2px; color:white; }

.nnbox {
				width: 90%;
				padding-right: 20%;
				padding-left: 15%;
				color: #141822;
				border-bottom: solid red 1px;
				margin: auto;
}
.nnbox img{
				width: 70%;
}
.nnbox i {
				height: 60px;
				width: 60px;
				font-size: 25px;
				padding: 16px;
				color: white;
				background: linear-gradient(45deg,#ff0049,#ff7300);
				border-radius: 50%;
}




.footer-distributed{
	background: #222;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
 border-top: 5px solid red;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	margin: 0;
	font-size: 32px;
}

.footer-distributed h3 span{
	color: #680004;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  680004;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #680004;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  red;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: red;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */



.home2 {
				height: 54vh;
				width: 100%;
				background: url("img/allbg.jpg");
				background-size: cover;
}
.home2 h1 {
				color: white;
				margin-top: 20vh;
				font-size: 45px;
				padding-bottom: 8px;
				border-bottom: solid white 3px;
				width: auto;
				text-align: center;
				width: 250px;
				margin-left: auto;
				margin-right: auto;
}
.home2 p {
				color: white;
				font-size: 25px;
				text-align: center;
}
.cvcv {
			width: 290px;
			padding: 20px;
			border: 1px red solid;
			border-radius: 20px;
			margin: auto;
			margin-bottom: 30px;
			height: 760px;
}
.cvcv h1 {
				background: linear-gradient(45deg,red,#ff00f1);
				-webkit-background-clip: text; -webkit-text-fill-color: transparent;
				font-size: 80px;
				border: 5px solid red;
				border-radius: 50%;
				width: 100px;
				height: 100px;
				text-align: center;
				
				
}
.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #ff0049;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #ff0049;
}


.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #ff0049;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #fff;
  color: #ff0049;
}
.jkjj {
				height: 470px;
				width: 300px;
				padding: 12px;
				border: solid 5px red;
				margin-bottom: 20px;
				border-radius: 10px;
				margin-left: auto;
				margin-right: auto;
}
.jkjj i {
				font-size: 70px;
margin: 10px;
}
.ffff {
				height: 250px;
				width: 250px;
				transition: 500ms;
				
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
				margin-top: 30px;
				padding: 20px;
				border-bottom: 1px red solid;
}

.ffff i {
				font-size: 70px;
				margin: auto;
				margin-top: 20px;
				background: linear-gradient(45deg,#ff0049,#ff7300);
				color: white;
				height: 110px;
				width: 110px;
				padding: 20px;
				border-radius: 50%;
				margin-bottom: 10px;
}
.ffff h2 {
				color: red;
}
.www {
				height: 200px;
				width: 80%;
				margin-bottom: 20px;
				margin-right: auto;
				margin-left: auto;
				border-radius: 25px;
				border: 3px solid red;
				font-size: 50px;
				color: red;
				padding-top: 25px;
				padding-bottom: 25px;
				text-align: center;
}
.www i {
				border-radius: 50%;
			 background: red;
			 color: white;
			 padding: 12px;
}




}
@media (max-width: 1199.98px) { 
.logo {
				width: 150px;
				
}
#bar {
				height: 65px;
				width: 65px;
				font-size: 30px;
				padding-top: 17.5px;
				padding-bottom: 17.5px;
				margin-top: 10px;
}
.menu-btn {
				right: 60px;
  top: 20px;
  height: 70px;
  width: 70px;
  font-size: 25;
}
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 45%;
  height: 90%;
  transform: translate(-45%, -60%);
  list-style: none;
  text-align: center;
}
.home h1 {
				margin-top: 15%;
				margin-left: 10%;
				margin-right: 8%;
				font-size: 53px;
}
.home p {
				margin-top: 0%;
				margin-left: 10%;
				margin-right: 15%;
				font-size: 23px;
				line-height: 38px;
}
.home .rm {
				margin-left: 10%;
				font-size: 30px;
				font-weight: bolder;
				padding:10px 20px 10px 20px;
				background: white;
				color: red;
				transition: 500ms;
				text-decoration: none;
				margin-top: 20px;
				border-radius: 50px;
}
.home .rm:hover {
				background: transparent;
				color: white;
				
}

.ill {
				width: 70%;
}
.article {
				padding-left: 15%;
			 padding-right: 20%;	 
			 padding-top: 30px;
			 padding-bottom: 30px;
}
.home2 {
				height: 47vh;
}

}
 
 
@media (max-width: 991.98px) { 
.logo {
				width: 120px;
				
}

#bar {
				height: 60px;
				width: 60px;
				font-size: 25px;
				padding-top: 17.5px;
				padding-bottom: 17.5px;
				margin-top: 10px;
}


.menu-btn {
				right: 60px;
  top: 15px;
  height: 60px;
  width: 60px;
}
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 40%;
  height: 90%;
  transform: translate(-40%, -60%);
  list-style: none;
  text-align: center;
}
.home h1 {
				margin-top: 20%;
				margin-left: 10%;
				margin-right: 15%;
				font-size: 50px;
}
.home p {
				margin-top: 0%;
				margin-left: 10%;
				margin-right: 20%;
				font-size: 20px;
				line-height: 35px;
}
.home .rm {
				margin-left: 10%;
				font-size: 28px;
				font-weight: bolder;
				padding:10px 20px 10px 20px;
				background: white;
				color: red;
				transition: 500ms;
				text-decoration: none;
				margin-top: 20px;
				border-radius: 50px;
}
.home .rm:hover {
				background: transparent;
				color: white;
				
}
.home2 {
				height: 44vh;
}
.container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}



}

@media (max-width: 767.98px) { 
.logo {
				width: 100px;
				
}
#bar {
				height: 55px;
				width: 55px;
				font-size: 20px;
				padding-top: 17.5px;
				padding-bottom: 17.5px;
				margin-top: 8px;
}
.menu-btn {
				right: 50px;
  top: 20px;
  height: 45px;
  width: 45px;
}				
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 38%;
  height: 90%;
  transform: translate(-38%, -60%);
  list-style: none;
  text-align: center;
}
	.home h1 {
				margin-top: 32%;
				margin-left: 10%;
				margin-right: 8%;
				font-size: 32px;
}
.home p {
				margin-top: 0%;
				margin-left: 10%;
				margin-right: 8%;
				font-size: 18px;
				line-height: 25px;
}
.home .rm {
				margin-left: 10%;
				font-size: 25px;
				font-weight: bolder;
				padding:10px 20px 10px 20px;
				
				background: white;
				color: red;
				transition: 500ms;
				text-decoration: none;
				margin-top: 20px;
				border-radius: 50px;
}
.home .rm:hover {
				background: transparent;
				color: white;
				
}		
.sbox {
				float: none;
}			
.sbox2 {
				float: none;
}			
.ul {
				margin-left: 40%;
}			
.article {
				padding-left: 10%;
			 padding-right: 15%;	 
			 padding-top: 30px;
			 padding-bottom: 30px;
}			
		
	.home2 {
				height: 44vh;
}	
	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	 .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
				
}

@media (max-width: 575.98px) { 
.logo {
				width: 100px;
				
}
#bar {
				height: 50px;
				width: 50px;
				font-size: 20px;
				padding-top: 12px;
				padding-bottom: 15px;
				margin-top: 8px;
				margin-bottom: 0;
}


.menu-btn {
				right: 40px;
  top: 10px;
}				
.wrapper ul{
  position: absolute;
  top: 60%;
  left: 0%;
  height: 90%;
  transform: translate(-20%, -60%);
  list-style: none;
  text-align: center;
  
}
.ul {
				margin-left: 30%;
}	
	.article {
				padding-left: 10%;
			 padding-right: 10%;	 
			 padding-top: 30px;
			 padding-bottom: 30px;
}
.home2 {
				height: 48vh;
}	
	
				
}

@media (max-width: 349.98px) { 
.logo {
				width: 80px;
				
}
.menu-btn {
				right: 30px;
  top: 10px;
}			
	.wrapper ul{
  position: absolute;
  top: 60%;
  left: 10%;
  height: 90%;
  transform: translate(-10%, -60%);
  list-style: none;
  text-align: center;
}
				
}
